doctype html
html
  head
    title Harshit Art Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div.logo
                a(href="/") 
                    img(src="/static/logo.png")
            li #[a(href="/") Home]
            li #[a(href="/") Services]
            li #[a(href="/") Sponsors]
            li #[a(href="/") Contact]
            li #[a(href="/join") Join]
    block content

    footer#footer
        div Copyright © Harshit Art Academy | All Rights Reserved